.flex {
    display: flex;
    flex-flow: row rap;
    height: 200px;
}

.red {
    background-color: red;
}

.first {
    flex: 1 120px;
}

.second {
    flex-grow: 1;
}

.third {
    flex-grow: 2;
    align-self: center;
}