body {
    background-color: #efefef;
}

.box {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);   
    border-radius: 2px;
}

.box-content1 {
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.box-content2 {
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.box-buttons {
    margin: 0px;
    padding: 5px;
}

.box-button1 {
    border: none;
    background-color: #06f;
    color: white;
    margin: 0;
    padding: 10px;
    border-radius: 1px;
}

.box-button2 {
    border: none;
    background-color: #cccccc;
    padding: 10px;
    margin: 0;
    color: white;
    border-radius: 1px;
}